app-search {
  width: 100%;
}
header {
  padding: 1rem;
  color: darkblue;
  letter-spacing: 1.8px;
  .title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .subtitle {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
